@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
#right-charts.shorten .top-suppliers-chart, #right-charts.shorten .line-chart {
  width: 37vw;
}
#right-charts.shorten .counts {
  width: 13rem;
}
#right-charts.shorten .range-chart,
#right-charts.shorten .count-chart {
  width: 25vw;
  height: 60vh;
}
#right-charts.shorten .range-chart canvas,
#right-charts.shorten .count-chart canvas {
  height: 100% !important;
}
#right-charts.shorten #ordersPerSupplierChart,
#right-charts.shorten #ordersPerMonthChart {
  width: 100% !important;
}

#left-charts.shorten .top-suppliers-chart, #left-charts.shorten .line-chart {
  width: 37vw;
}
#left-charts.shorten .counts {
  width: 13rem;
}
#left-charts.shorten .range-chart,
#left-charts.shorten .count-chart {
  width: 25vw;
  height: 60vh;
}
#left-charts.shorten .range-chart canvas,
#left-charts.shorten .count-chart canvas {
  height: 100% !important;
}
#left-charts.shorten #ordersPerSupplierChart,
#left-charts.shorten #ordersPerMonthChart {
  width: 100% !important;
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

thead {
  background-color: #472D30;
}

.btn-primary {
  transition: background-color 0.5s ease;
  padding: 0.5em 0.8em;
  color: #F5F5F5;
  border: #472D30;
  background-color: #472D30 !important;
}
.btn-primary:hover {
  color: #FFE1A8;
  background-color: #723D46 !important;
}

.btn-print {
  background-color: #C9CBA3 !important;
}

.btn-view {
  background-color: #FFE1A8 !important;
}

#view-btn.active,
#unav-btn.active {
  border-color: #472D30 !important;
}

.wrapper {
  display: flex;
}

.landing-logo {
  position: absolute;
  top: 5%;
  left: 13%;
}
.landing-logo button {
  border: 0;
  background-color: transparent;
}

.main-desc {
  padding: 4% 12%;
}

.landing {
  background-image: url("../assets/main.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.login {
  background-image: url("../assets/login.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.landing-text {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 5.7em;
  color: #472D30;
  padding: 0;
  line-height: 0.8;
  text-shadow: 4px 4px 6px rgba(255, 241, 221, 0.99);
}

.nav-text {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

.nav-link {
  color: #472D30 !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.nav-link.active {
  font-weight: 400 !important;
  color: #E26D5C !important;
}

#logtypes, #landing-signup {
  width: 30%;
  height: 75vh;
  margin: 9% 0 0 56%;
  padding: 2rem 3rem;
  background-color: #FFF1DD;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  margin: 0;
  border-radius: 100px;
  background-color: #FFE1A8;
}

::-webkit-scrollbar-thumb {
  background-color: #C9CBA3;
}

.logtypes-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #FFF1DD;
}

#admin-btn,
.account-btn {
  transition: color 0.4s ease;
  font-size: 0.8em;
  color: #723D46;
  cursor: pointer;
}
#admin-btn:hover,
.account-btn:hover {
  color: #E26D5C;
}

#guest-btn {
  transition: color 0.4s ease;
  color: #472D30;
}
#guest-btn:hover {
  color: #E26D5C;
}

.logsign-btn {
  width: 100%;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #472D30;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  position: sticky;
  top: 0;
}

.sidebar-pages {
  position: sticky;
  top: 5em;
}

#sidebar.expand {
  width: 280px;
  min-width: 280px;
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

#toggle-btn i {
  font-size: 1.5rem;
  color: #F5F5F5;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #F5F5F5;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 0 0;
  margin-top: 2rem;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #F5F5F5;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #C9CBA3;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #472D30;
  padding: 0;
  min-width: 13rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 150px;
  opacity: 1;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown span {
  display: block;
}

#sidebar.expand .sidebar-link[data-bs-toggle=collapse]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle=collapse].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.sidebar-dropdown li {
  margin-left: 1rem;
}

.paging li {
  color: #472D30 !important;
}

.page-link {
  color: #472D30;
}
.page-link:hover {
  color: #E26D5C !important;
}

.active > .page-link {
  background-color: #723D46;
  border-color: #472D30;
  color: #FFE1A8;
}

.main-form {
  display: flex;
  align-items: center;
}

.table-pad th,
.table-pad td {
  padding: 0.5rem 0.6rem;
  align-content: center;
}

.table-head th {
  background: hsl(353, 22%, 23%);
  background: linear-gradient(90deg, hsl(353, 22%, 23%) 0%, hsl(350, 30%, 34%) 50%);
  background: -webkit-linear-gradient(90deg, hsl(353, 22%, 23%) 0%, hsl(350, 30%, 34%) 50%);
  color: #F5F5F5;
  position: sticky;
  top: 0px;
}

#supplierTable td {
  padding: 0.75rem;
}

.card-header {
  height: 10vh;
}

.card-body {
  height: 60vh;
  overflow: auto;
  padding-top: 0;
}

.counts {
  color: #F5F5F5;
  width: 11rem;
  margin: 0.7rem;
  margin-bottom: 1.3rem;
  padding: 0.7rem;
  display: grid;
  grid-template-columns: auto 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: hsl(353, 22%, 23%);
  background: linear-gradient(90deg, hsl(353, 22%, 23%) 0%, hsl(350, 30%, 34%) 50%);
  background: -webkit-linear-gradient(90deg, hsl(353, 22%, 23%) 0%, hsl(350, 30%, 34%) 50%);
}

.counts-img {
  width: 45px;
  grid-row: span 2; /* Span the img over 2 rows */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background-color: #E26D5C;
  padding: 0.7rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.counts-title {
  font-weight: bold;
  padding-left: 0.3rem;
}

.counts-num {
  padding-left: 0.3rem;
  color: #F5F5F5;
  height: 100%;
}

.chart {
  margin: 0.7rem;
  padding: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line-chart,
.top-suppliers-chart {
  width: 31vw;
}

.range-chart,
.count-chart {
  width: 20vw;
}

.order-modal {
  height: 75vh;
  overflow: auto;
}

.stock-in,
.stock-out {
  text-align: center;
  padding: 0.3em;
  border-radius: 10px;
  width: 85%;
}

.stock-in {
  background-color: #C9CBA3;
}

.stock-out {
  color: #F5F5F5;
  background-color: #E26D5C;
}/*# sourceMappingURL=style.css.map */